.mail-preview {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1fr minmax(70px, 1fr);

    width: 100%;
    background-color: var(--mail-bg-color);
    border: solid 0.1px var(--mail-border-clr);

    padding: 10px 10px;

    cursor: pointer;

    &:hover {
        box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
        border-color: #dcdcdc;

        .star i.off {
            color: #6D6D6D;
        }
    }
}

.sender-name-prev,
.mail-subject,
.date-section {
    font-weight: bold;
}

.mail-preview .sender-section {
    grid-column: 1;
    display: flex;
    gap: 5px;
}

.mail-preview .mail-subject {
    grid-column: 2;
}

.mail-preview .last-cl-preview {
    grid-column: 3;
    display: flex;
    gap: 10px;
    justify-content: end;
}

.mail-preview .date-section {
    min-width: 80px;
}

.mail-preview.read-mail {
    background: var(--open-mail-bg-clr);
    .sender-name-prev,
    .mail-subject,
    .date-section {
        font-weight: normal;
    }
}

.mail-preview .preview-btn {
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6D6D6D;
}

.mail-preview .preview-btn:hover {
    transform: translateX(-3px);
    background-color: inherit;
}

.mail-preview .preview-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(60, 64, 67, 0.1);
    transition: transform 0.25s ease;
    z-index: 0;
}

.mail-preview .preview-btn:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.mail-preview .preview-btn i {
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease;

}

.star i.on {
    color: goldenrod;
}

.star i.off {
    color: #D5D5D5;
}